<div class="m-6 border border-gray-300 p-4 space-y-2">
  <div class="info">
    <span class="flex">
      <input type="checkbox" name="task" id="task{{num}}">
      <h3 class="pl-2 text-blue-500 font-bold text-lg">{{ num }} New Task</h3>
    </span>
    <h6 class="text-gray-300">Completed in 1 day</h6>
  </div>
  <div class="action-panel flex justify-between">
    <div class="left">
      <app-button></app-button>
      <app-button></app-button>
    </div>
    <div class="right">
      <app-button></app-button>
    </div>
  </div>
</div>
